# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# Rider / VSCode (por si acaso)
.idea/
.vscode/

# Logs
*.log

# Archivos temporales
*.tmp
*.cache

# NuGet
packages/
*.nupkg

# Archivos de sistema
Thumbs.db
.DS_Store